@font-face {
    font-family: 'OCRAStd';
    src: local('OCRAStd'), url(../../../fonts/OCRAStd.otf) format('opentype');
  }

.centroLogin{
    font-family: 'OCRAStd';
    display:flex;
    justify-content:center;
    align-content:center;
    margin:0;
    /* padding: 13px; */
    text-align:right;
    color:#fff;
    margin-bottom: 15px;
    font-size: 20px;
}
.centroLogin2{
    display:flex;
    justify-content:center;
    align-content:center;
    margin:0;
    text-align:right;
}
.imgLogin{
    width: 200px;
    margin: 5px;
}


.fundo{
    background-color: #fff0 !important;
    background-image: radial-gradient(#f06ba0, #883e8b)!important;
    
    background-repeat: no-repeat !important;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    height: 100%  !important; 

    /* Center and scale the image nicely */
    background-position: center;
    position: fixed; 
    top: 0; 
    left: 0; 

    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
}


.btnWF{
    background-color: #873e8d    !important;
    border-radius: 8px !important;
    border: 0px !important;
}